extends layout

block content
  div
    h1= title
    a(href="/new")
      button Add new message
  each message in messages
    div
      h4 #{message.text}
      p 
        small #{message.user} (#{`${message.added.getDate()}-${message.added.getMonth()}-${message.added.getFullYear()}`})
