extends layout

block content
  h1= title
  
  ul
    each author in author_list
      li 
        a(href=author.url) #{author.name} 
        |  (#{author.lifespan})
    span
      if link_previous
        button(onclick=`location.href='${link_previous}';`) Previous
      else
        button(disabled) Previous
      if link_next
        button(onclick=`location.href='${link_next}';`) Next
      else
        button(disabled) Next

    if !author_list
      li There are no authors.